button {
    background: 0 0;
    border: none;
    border-radius: 0.188em;
    position: relative;
    color: #fff;
    height: 2.25em;
    margin: 1em 0;
    width: 100%;
    padding: 0 1em;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    /* will-change: box-shadow; */
    /* transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); */
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 2.25em;
    vertical-align: middle;
    background-color: #673ab7;
    opacity: 1;
    transition: all 0.7 ease-out;
    transform: scale(1);
}

button:hover {
    opacity: 0.8;
}

button.is-clicked {
    opacity: 0.9;
    transform: scale(1.02);
}

@media (max-width: 480px) {
    button {
        height: 3em;
    }
}
