form {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input {
    margin: 0 0 20px 0;
    width: 100%;
    display: block;
    border: none;
    padding: 14px 0 8px;
    border-bottom: solid 1px #673ab7;
    transition: all 0.4s ease-out;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #673ab7 4%);
    background-position: 50% 0;
    background-size: 0 100%;
    background-repeat: no-repeat;
    /* color: darken(#673ab7, 20%); */
}

input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-size: 100% 100%;
    background-position: 100% 0;
}

input.is-dirty:invalid {
    border-color: #E91E63;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #E91E63 4%);
}

label {
    color: #9e9e9e;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 16px;
    transition: 0.4s ease all;
}

input:focus ~ label,
input:valid ~ label,
input:valid.is-dirty ~ label {
    transform: translateY(-26px) translateX(2px) scale(0.8);
    transform-origin: 0 0;
    color: #673ab7;
}

input.is-dirty ~ label,
input.invalid ~ label {
    transform: translateY(-26px) translateX(2px) scale(0.8);
    transform-origin: 0 0;
    color: #E91E63;
}

span {
    color: #E91E63;
    position: absolute;
    font-size: 0.7rem;
    margin-top: -15px;
    display: block;
}

input:not(.is-dirty) ~ span,
input:valid ~ span {
    visibility: hidden
}
